body{
    color: #FDFFFC;
    background-color: #011627;
    text-align: center;
    border: 60px solid #2EC4B6;
    border-top: 0px;
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}

p{
    padding: 5% 20% 0%;
}

textarea{
    height: auto;
    width: auto;
}

.inp{
    font-size: 1.5em;
    margin-bottom: 10px;
}

h2{
    margin-bottom: 5%;
}

#submit{
    border-radius: 25px;
    background: #FF9F1C;
    height: 80px;
    width: 150px;
    font-size: 1.2em;
    margin-bottom: 4px;
}